

main{
    grid-template-columns: repeat(2, 1fr);
}

// header 
.header {
    height: 100vh;
    background: url(../media/home-img.jpg)no-repeat center center;
    background-size: cover;

    h1 {
        color: #404040;
        text-shadow: 1px 1px white;
        font-size: 600;
        margin: {
            top: 2rem;
            left: 10rem;
        }
    }

}

// hero 
.hero {
    background: #F5E3D6;
    li {

        a{
            text-transform: uppercase;
            font-weight: 400;
            font-size: $primary-font-size;
            color: #857a73;
            &:hover {
                color: $secondary-color;
            }
        }

        .active {
            color: $secondary-color;
        }
    }

    h6 {
        color: $font-color;
        font-size: .77rem;
        letter-spacing: 2px;
        margin:  {
            top: 10rem;
            bottom: 1rem;
        };
    }

    h2 {
        small {
            color: black;
            font-weight: 400;
        }
    }
    
    p {
        color: #CBBFB8;
        margin: {
            top: 1.5rem;
            bottom: 4rem;
        };
    
    }

    .btn-primary {
        @extend .btn;
        color: black;
        font-size: $primary-font-size;
        border: 3px solid black;
        font-weight: 600;
    }
}

.about {
    background: white;
    h2 {
        color: black;
    }

    h6 {
        color: #ffd699;
        margin: {
            top: 1rem;
            bottom:  2.5rem;
        };
    }
    
    p {
        color: #BABABA;
        margin-bottom: 1rem;
    }
    
}

// skills 
.skills {
    background: $secondary-color;
    .skills-img {
        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
    

    h2 {
        color: white;
    }

    h6 {
        color: white;
        margin: 1rem 0;
    }
    .progrss-text {
        margin-bottom: .5rem;
    }
    progress {
        appearance: none;
        width: 100%;
    }
    progress::-webkit-progress-bar {
        height: 2px;
        background: white;
    }
    progress::-webkit-progress-value {
        background: black;
    }
}

// features 

.features {
    grid-column: 1/-1;
    grid-template-columns: repeat(4, 1fr);

    article {
        text-align: center;
        background: yellowgreen;
        padding: 3rem 2rem 4rem 2rem;

        i {
            font-size: 2.5rem;
            color: #FFF1ED;
        }

        h3 {
            color: #FFF1ED;
            margin: {
                top: 2rem;
                bottom: 1.5rem;
            };
        }
        p {
            color: #FFF1ED;
            line-height: 2;
        }
    }

    .article-1 {
        background: $secondary-color;
    }

    .article-2 {
        background: $primary-color;
    }

    .article-3 {
        background: black;
    }

    .article-4 {
        background: white;

        i {
            color: black;
        }

        h3 {
            color: black;
        }
        p {
            color: black;
        }
    }
}

// banner 
.experience-banner, .education-banner  {
    img {
        height: 24rem;
        object-fit: cover;
    }
}

// .experience and .education 
.experience, .education {
    padding: 0rem 15rem 0rem 3rem;
    background: $primary-color;
    color: white;

    h2 {
        color: white;
        margin-top: 2.5rem;
    }

    .each-task {

        span {
            font-size: 2rem;
        } 
    
        h3 {
            color: rgb(231, 230, 230);
            margin: {
                right: .5rem;
                left: 1.5rem
            };
        } 
    
        datetime {
            color: #713234;
        }
    
    }

    p {
        color: rgb(231, 230, 230);
        margin-bottom: 1.5rem;
        margin-left: 4rem;
    } 

    .text {
        margin: .8rem 0 2.5rem 0;
    }
}

.education {
    background: $secondary-color;
}
.education-banner  {
    img {
        height: 28rem;
    }
}

// form 
.form {
    background: $primary-color;

    h2 {
        color: white;
    }

    p {
        color:#FECCBD;
        margin:.8rem 0 2.8rem 0;
    }

    input,textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid $secondary-color;
        padding: .5rem 0;
        background: $primary-color;
        margin-bottom: 2rem;
        font-family: 'Archivo', sans-serif;
        font-size: 1.1rem;
        color:#FECCBD;
        font-weight: 100;


        &::placeholder {
            font-size: 1.1rem;
            color:#FECCBD;
            font-weight: 100;
        }
        
       
    }

    .btn-secondary {
        @extend .btn;
        background-color: white;
        padding: 0.6rem 8rem;
        color: #959494;
        font-weight: 300;
        margin-bottom: 1rem;
    }
}

// contact 

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;

   img {
    width: 100%;
    object-fit: cover;
   }

   address {
       background: #161616;
       h3 {
           color: #DDDDDD;
           margin-bottom: 1.5rem;
       }
       p, a{
           color: #6B6B6B;
           margin-bottom: 2.7rem;
           display: inline-block;
       }
       a {
           margin-bottom: 1rem;
           font-weight: 200;
       }
       .tel, .url {
           color: #7D6030; 
       }
       a i {
           color: #DDDDDD;
           margin-right: .6rem;
       }
   }

}

.map {
    grid-column: 1/-1;
    padding: 2rem 13rem;
    background: $primary-color;
    .map-container {
        height: 0;
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;
        
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            left: 0;
            box-shadow: 2px 2px 20px 2px rgba($color: #000000, $alpha: 0.5);
        }
    }
}

.footer {
    grid-column: 1/-1;
    text-align: center;
    padding: 10rem 0;
    p {
        color: #9C9C9C;
        margin-bottom: 3rem;
        small {
            color: #F7DAAE;
        }
    }
    a {
        color: #9C9C9C;
        margin-right: 2rem;
        display: inline-block;
    }
}


@media screen and (max-width:1200px){
}

@media screen and (max-width:992px){
    html{
       font-size: 16px;
    }
}


@media screen and (max-width:768px){
    html{
        font-size:14px;
    }
    /* flex  */
    .med-wrap{
        flex-wrap: wrap;
    }
    .med-column{
        flex-direction: column;
    }
    .med-align-center{
        align-items: center;
    }
    .med-justify-center {
        justify-content: center;
    }
    
    .med-text-center {
      text-align: center;
    }

    main {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .hero {
        order: -1;
    }
   
    .features {
        // grid-column: 1/-1;
        grid-template-columns: repeat(1, 1fr);
    }
    .map {
        padding: 1rem 0;
    }
}



@media screen and (max-width:576px){
    html{
        font-size: 10px;
     }
}
    


