/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Archivo', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  padding-bottom: 15rem;
}

/* btn  */
.btn, .hero .btn-primary, .form .btn-secondary {
  padding: .7rem 2.5rem;
  display: inline-block;
  border-radius: 25px;
}

/* a */
a {
  text-decoration: none;
}

/* text  */
h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 2.3rem;
  font-weight: 100;
  color: #555352;
}

h3 {
  font-size: 1.5rem;
  font-weight: 100;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: .9rem;
  font-weight: 200;
}

p {
  font-weight: 200;
  font-size: 1rem;
}

.text-center {
  text-align: center;
}

.font-0 {
  font-size: 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.full-width {
  width: 100%;
}

.padding {
  padding: 3rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.flex-48 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.flex-38 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38%;
          flex: 0 1 38%;
}

.flex-32 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
}

.flex-28 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26%;
          flex: 0 1 26%;
}

.flex-22 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22%;
          flex: 0 1 22%;
}

.flex-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
}

.grid {
  display: -ms-grid;
  display: grid;
}

main {
  border: 1px solid green;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

section {
  border: 1px solid black;
}

.header {
  height: 100vh;
  background: url(../media/home-img.jpg) no-repeat center center;
  background-size: cover;
}

.header h1 {
  color: #404040;
  text-shadow: 1px 1px white;
  font-size: 600;
  margin-top: 2rem;
  margin-left: 10rem;
}

.hero {
  background: #F5E3D6;
}

.hero li a {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  color: #857a73;
}

.hero li a:hover {
  color: #ECAE4E;
}

.hero li .active {
  color: #ECAE4E;
}

.hero h6 {
  color: #A9A39F;
  font-size: .77rem;
  letter-spacing: 2px;
  margin-top: 10rem;
  margin-bottom: 1rem;
}

.hero h2 small {
  color: black;
  font-weight: 400;
}

.hero p {
  color: #CBBFB8;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

.hero .btn-primary {
  color: black;
  font-size: 0.8rem;
  border: 3px solid black;
  font-weight: 600;
}

.about {
  background: white;
}

.about h2 {
  color: black;
}

.about h6 {
  color: #ffd699;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.about p {
  color: #BABABA;
  margin-bottom: 1rem;
}

.skills {
  background: #ECAE4E;
}

.skills .skills-img {
  background: url(../media/about-img.jpg);
  background-position: top;
}

.skills h2 {
  color: white;
}

.skills h6 {
  color: white;
  margin: 1rem 0;
}

.skills .progrss-text {
  margin-bottom: .5rem;
}

.skills progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
}

.skills progress::-webkit-progress-bar {
  height: 2px;
  background: white;
}

.skills progress::-webkit-progress-value {
  background: black;
}

.features {
  grid-column: 1/-1;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.features article {
  text-align: center;
  background: yellowgreen;
  padding: 3rem 2rem 4rem 2rem;
}

.features article i {
  font-size: 2.5rem;
  color: #FFF1ED;
}

.features article h3 {
  color: #FFF1ED;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.features article p {
  color: #FFF1ED;
  line-height: 2;
}

.features .article-1 {
  background: #ECAE4E;
}

.features .article-2 {
  background: #FB673E;
}

.features .article-3 {
  background: black;
}

.features .article-4 {
  background: white;
}

.features .article-4 i {
  color: black;
}

.features .article-4 h3 {
  color: black;
}

.features .article-4 p {
  color: black;
}

.experience-banner img, .education-banner img {
  height: 24rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.experience, .education {
  padding: 0rem 15rem 0rem 3rem;
  background: #FB673E;
  color: white;
}

.experience h2, .education h2 {
  color: white;
  margin-top: 2.5rem;
}

.experience .each-task span, .education .each-task span {
  font-size: 2rem;
}

.experience .each-task h3, .education .each-task h3 {
  color: #e7e6e6;
  margin-right: .5rem;
  margin-left: 1.5rem;
}

.experience .each-task datetime, .education .each-task datetime {
  color: #713234;
}

.experience p, .education p {
  color: #e7e6e6;
  margin-bottom: 1.5rem;
  margin-left: 4rem;
}

.experience .text, .education .text {
  margin: .8rem 0 2.5rem 0;
}

.education {
  background: #ECAE4E;
}

.education-banner img {
  height: 28rem;
}

.form {
  background: #FB673E;
}

.form h2 {
  color: white;
}

.form p {
  color: #FECCBD;
  margin: .8rem 0 2.8rem 0;
}

.form input, .form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ECAE4E;
  padding: .5rem 0;
  background: #FB673E;
  margin-bottom: 2rem;
  font-family: 'Archivo', sans-serif;
  font-size: 1.1rem;
  color: #FECCBD;
  font-weight: 100;
}

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  font-size: 1.1rem;
  color: #FECCBD;
  font-weight: 100;
}

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  font-size: 1.1rem;
  color: #FECCBD;
  font-weight: 100;
}

.form input::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
  font-size: 1.1rem;
  color: #FECCBD;
  font-weight: 100;
}

.form input::placeholder, .form textarea::placeholder {
  font-size: 1.1rem;
  color: #FECCBD;
  font-weight: 100;
}

.form .btn-secondary {
  background-color: white;
  padding: 0.6rem 8rem;
  color: #959494;
  font-weight: 300;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */