/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Archivo', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  background: #394A4E;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

/* btn  */
.btn {
  padding: .4rem 1.3rem;
  display: inline-block;
  border-radius: 25px;
}

/* a */
a {
  text-decoration: none;
}

/* text  */
h1 {
  font-size: 2.5rem;
  margin: .5rem 0;
}

h2 {
  font-size: 2.3rem;
  font-weight: 900;
}

h3 {
  font-size: 2rem;
  font-weight: 900;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: .9rem;
}

.text-center {
  text-align: center;
}

.font-0 {
  font-size: 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.full-width {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-58 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 58%;
          flex: 0 1 58%;
}

.flex-48 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.flex-38 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38%;
          flex: 0 1 38%;
}

.flex-32 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
}

.flex-28 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26%;
          flex: 0 1 26%;
}

.flex-22 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22%;
          flex: 0 1 22%;
}

.flex-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.header h1 {
  color: white;
}

.container {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1.3rem;
}

.container .title {
  border-top: 3px solid #0095BE;
  border-radius: 3px;
  background: white;
  padding: .5rem;
}

.container .title h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #394A4E;
}

.container .title p {
  color: #394A4E;
}

.container .title a {
  display: inline-block;
  color: #FC2E1A;
  margin-top: .7rem;
}

.container .title1 {
  grid-column: 1/-1;
  padding: 0 0 .5rem 0;
}

.container .title1 li a {
  font-size: 1.3rem;
  color: #0095BE;
}

.container .title3 {
  grid-row: span 3;
}

.container .title3 img {
  border-radius: 50%;
  margin: 2.3rem 0;
}

.container .title4 {
  padding: 0;
}

.container .title4 h2, .container .title4 p {
  padding: 0 .5rem;
}

.container .title4 a {
  background-color: #FC2E1A;
  display: block;
  color: white;
  padding: .5rem;
}

.container .title5 {
  grid-row: span 2;
}

.container .title5 .img-container {
  width: 7rem;
  margin: 0 auto;
}

.container .title6 {
  padding: 0;
}

.container .title6 p, .container .title6 a {
  padding: 0 .5rem;
}

.container .title6 h2 {
  background: #0095BE;
  padding: 0 0.5rem;
  color: white;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 720px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .container .title3 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0 1rem;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .container .title3 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  html {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */